[submodule "terraform-mongodb-provisioning-ec2"]
	path = terraform-mongodb-provisioning-ec2
	url = git@github.com:everest-engineering/terraform-mongodb-provisioning-ec2.git
[submodule "terraform-mongodb-provisioning-ecs"]
	path = terraform-mongodb-provisioning-ecs
	url = git@github.com:everest-engineering/terraform-mongodb-provisioning-ecs.git
[submodule "terraform-mongodb-provisioning-packer"]
	path = terraform-mongodb-provisioning-packer
	url = git@github.com:everest-engineering/terraform-mongodb-provisioning-packer.git
