[submodule "terraform-aws-mongodb-ec2"]
	path = terraform-aws-mongodb-ec2
	url = git@github.com:everest-engineering/terraform-aws-mongodb-ec2.git
[submodule "terraform-aws-mongodb-ecs"]
	path = terraform-aws-mongodb-ecs
	url = git@github.com:everest-engineering/terraform-aws-mongodb-ecs.git
[submodule "terraform-aws-mongodb-packer"]
	path = terraform-aws-mongodb-packer
	url = git@github.com:everest-engineering/terraform-aws-mongodb-packer.git
